
#  .gitattributes addition (or creation) for ease in using
#+ platform-specific files (making it platform-agnostic)
*.sh              text eol=lf
*.ps1             text eol=crlf
*.cmd             text eol=crlf
*.py              text eol=lf
*.md              text eol=lf
*.ipynb           text eol=lf
.gitattributes    text eol=lf

